h1 {
	text-align: center;
	margin-bottom: 1rem;
}

.signupForm .loginform {
	width: 30rem;
	max-width: 90%;
	margin: auto;
	display: block;
}

.control {
	margin: 0.5rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.control label,
input {
	display: block;
}

.control input {
	/* width: 25rem; */
	/* margin: 0 auto; */
	padding: 0.5rem 1rem;
}
.actions {
	display: flex;
	justify-content: flex-end;
}

.error-msg {
	width: 100%;
	background-color: brown;
	color: white;

	display: flex;
	justify-content: center;
}

.error-msg p {
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.1rem;
}
