extends base 


block head
    link(rel="stylesheet", href="/css/products.css")
    link(rel="stylesheet", href="/css/form.css")

block content 
    h1 Product's 
    section
        button 
            a(href="/products/add") Add to Product
    section 
        h2 제품 목록
        //- #{JSON.stringify(products)}
        ul 
            each product in products 
                li
                    include includes/_product.pug