extends ../base
block head
    link(rel="stylesheet", href="/css/auth.css")
block content
    h1 New Password 
    if error 
        .error-msg
            p=error
    form.resetForm(action="/auth/new-password", method="POST")
        .control 
            label(for="password") Password 
            input#password(type="password", name="password") 
            input(type="hidden", name="userId", value=userId)
        .actions 
            button(type="submit") New Password 
